<div class="columns">
  <div class="column is-three-fifths is-offset-one-fifth">
    <%= form_for :session, url: session_path do |form| %>
      <div class="field text-field">
        <div class="control">
          <%= form.label :email %>
          <%= form.text_field :email, type: 'email', class: 'input' %>
        </div>
      </div>

      <div class="field password-field">
        <div class="control">
          <%= form.label :password %>
          <%= form.password_field :password, class: 'input' %>
        </div>
      </div>

      <div class="submit-field">
        <%= form.submit class: 'button is-link' %>
      </div>
    <% end %>
  </div>
</div>



